.button {
  background-color: #333333;
  color: white;
  font-family: "Markazi Text", serif;
  height: 70%;
  width: 70%;
  align-self: center;
  border-radius: 16px;
  font-size: 2em;
}
.button:active {
  background-color: #969696;
}

.my61grid {
  grid-area: 6/1/6/3;
}
.my32grid {
  grid-area: 3/2/3/2;
}
@media only screen and (max-width: 820px) {
  .button {
    font-size: 1.5em;
  }
}
