@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
.fulldatepicker {
  grid-area: 3/1/3/2;
  align-self: center;
}
.fulldatepicker h1 {
  font-family: "Markazi Text", serif;
  font-size: 32px;
  font-weight: 500;
  margin: 0px;
}
.datepicker {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.datepickelement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(156, 156, 156);
  padding: 10px;
  border-radius: 16px;
  font-family: "Karla", sans-serif;
  width: 100px;
}
.datepickelement:hover {
  background-color: rgb(101, 101, 101);
}

.datepickelement h4 {
  margin: 0px;
  font-size: 25px;
}
.datepickelement h5 {
  margin: 0px;
  font-size: 20px;
}
