@import url("https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap");
.textinputclass {
  display: flex;
  flex-direction: column;
}
.inputlabel {
  font-family: "Markazi Text", serif;
  font-size: 32px;
  font-weight: 500;
  display: flex;
  gap: 30px;
}
.textinput {
  width: 80%;
  height: 50px;
  border-radius: 16px;
  font-size: 32px;
}
.my21grid {
  grid-area: 2/1/2/1;
}
.my22grid {
  grid-area: 2/2/2/2;
}
.my41grid {
  grid-area: 4/1/4/1;
}
.my42grid {
  grid-area: 4/2/4/2;
}
p.error {
  margin: 0px;
  color: red;
}
