@import url("https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap");
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
header {
  display: flex;
  justify-content: flex-start;
  margin-left: 10vw;
  gap: 20vw;
}
#logoimage {
  width: 200px;
}
nav#topnav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 2em;
  gap: 10vw;
}
nav#topnav ul li a {
  text-decoration: none;
  color: black;
  font-family: "Markazi Text", serif;
  font-weight: 500;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1100px) {
  nav#topnav ul {
    font-size: 1.5em;
    padding: 0px;
  }
  header {
    flex-direction: column;
    gap: 0px;
    margin-left: 0px;
    align-items: center;
    padding-top: 10px;
  }
}
