footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 10vw;
  gap: 20vw;
}
@media only screen and (max-width: 820px) {
  footer {
    gap: 5vw;
    margin-left: 3vw;
    padding-bottom: 30px;
  }
  footer #logoimage {
    width: 100px;
  }
}
